# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Visual Studio build files
*.lastbuildstate
*.log
*.tlog
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
rawdev.opensdf
rawdev.sdf
rawdev/rawdev.vcxproj.filters
rawdev/rawdev.vcxproj.user
rawdev.v11.suo

# Allow solution release build to be distribued
!x64/Release/rawdev.exe
x64/Release/rawdev.pdb
